:root{
    --azul-oscuro: #000529; 
    --azul-claro: #061864; 
    --naranja-oscuro: #ff6601; 
    --naranja-claro: #ff8a01; 
    --amarillo: #f7e01f;
    --gris: #ededed;
    --margen-principal: 64px;
}



body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */ 
}
p{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

.titulo{
    font-size: 64px;
    font-weight:bolder;
    margin-bottom: 48px;
}



/*---------------------Header----------------------*/

header{
    z-index: 100000;
    
    padding: 12px var(--margen-principal);
    
    display: grid;
    grid-template-columns: 5fr 2fr;
    align-items: center;

    box-shadow: color-mix(in srgb, var(--azul-oscuro), transparent 80%) 0px 10px 20px;

    img{
        width: 200px;
    }

}

nav{
    display: inherit;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
   
    div{
        cursor: pointer;
    }

    ul{
        position: absolute;
        top: 60px;
        background-color: white;
        padding: 0;
        border: 1px solid black;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .2);
        li{
            padding: 20px ;
            width: 220px;
            list-style: none;
            border-bottom: 1px solid black;
            cursor: pointer;
        }

        li:hover{
            background-color: var(--gris);
        }
    }

    .listado-proyectos{
        right: 200px;
        display: none;
    }

    .listado-lenguajes{
        right: 0px;
        display: none;
        
    }

    .active{
        display: block;
    }
}

/*-------Separador-------*/
.separador{
    background-color: var(--amarillo);
    height: 40px;
}

/*-----------------------------proyectos-------------------------------------*/

#proyectos{

    position: relative;
    padding: var(--margen-principal) calc(var(--margen-principal)*2.25);
    background-color: var(--gris);
    background-repeat: repeat;
    background-image:url('img/hideout.png');
    background-size: 50px 50px, auto; /* Ajusta el tamaño del patrón */


    .titulo {
        color: black;
        text-align: center;
        padding-bottom: calc(var(--margen-principal)*1.5);
    }


    .listado-h{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        scroll-snap-type: x mandatory;
        height: 200px;
        padding-bottom: var(--margen-principal);

        img{
            filter: grayscale(100%);
            transition: 0.5s ease;
        }   

        img:hover{
            scale: 1.2;
            z-index: 10;
            filter: grayscale(0%);

        }
    }


    .listado-h::-webkit-scrollbar-track {
        background: red; /* Color of the track */
    }

    .listado-h:-webkit-scrollbar-thumb {
        background-color: #3677ef; /* Color of the draggable handle */
        border-radius: 5px; /* Rounded corners for the thumb */
    }
}





/*--------------------------------Footer-------------------------------*/

#contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: black;
    color: white;
    padding: calc(var(--margen-principal)*1.5) var(--margen-principal);
    align-items: center;

    .titulo{
        font-size: 100px;
        margin-bottom: 0;
    }

    .red-social{
        display: flex;
        flex-direction: row;
        gap: calc(var(--margen-principal)/2);
        img{
            height: 64px;
        }
        a{
            color: white;
            font-size: 64px;
        }
    }
}


footer {
	height: auto;
	background: black;
	margin-bottom: 0;
}

footer p {
	color: white;
	font-size: 8pt;
	text-align: center;
	padding: 5px 0 5px 0;
	margin-bottom: 0;
}


/*----------------------------Generalidades de proyectos --------------------------------*/

.subtitulo{
    font-size: 24px;
    font-weight: bold;
}

#datosProyecto{
    
    display: grid;
    grid-template-columns: 5fr 7fr;

    position: relative;
    z-index: -1;
    .portada{
        width: 100%;
    }

    .descripcion{
        font-size: 24px;
        align-content: center;
        display: grid;
        padding: 0 var(--margen-principal);
        gap: calc(var(--margen-principal)/2);
       
        .clasificacion,.herramientas{
            display: flex;
            flex-direction: row;
            gap: calc(var(--margen-principal)/4);
        }
        .filaSoftware{
            display: flex;
            flex-direction: row;
            gap: calc(var(--margen-principal)/8);
            flex-wrap: wrap;
            img{
                height: 36px;
                width: auto;
            }
        }


    }
}













/*----------------------------Responsive --------------------------------*/

/*---------------------------------Tablets----------------------------------------*/
@media screen and (max-width: 1200px) {

    body{
        font-size: 16px;
    }

    header{
    grid-template-columns: 4fr 2fr;

        img{
            width: 120px;
        }

    }

    nav{
        grid-template-columns: 1fr 1fr;
       
    }


    #home{
        display: none;
    }
}



/*---------------------------------Celular de lado----------------------------------------*/
@media screen and (max-width: 820px) {
    header{
        padding: 12px calc(var(--margen-principal)/2);
        grid-template-columns: 2fr 2fr;
    }

    .titulo{
        font-size: 42px;
    }

    #contacto{
        grid-template-columns: 1fr;
        padding:var(--margen-principal);

        .titulo{
            font-size: 60px;
            margin-bottom: 24px;
        }

        .red-social{
            img{
                height: 42px;
            }
            a{
                font-size: 42px;
            }
        }
    }


}

/*---------------------------------Celular vertical----------------------------------------*/



@media screen and (max-width: 720px){

    header{
        p{
            text-align: center;
            font-size: 16px;
        }
        ul{
            top: 45px;
        }
        .listado-proyectos{
            right: 0;
        }
    }


    #datosProyecto{
        width: 100%;
        grid-template-columns: 1fr;
        h1{
            font-size: 30px;
        }
        .descripcion{
            padding: var(--margen-principal);
            .clasificacion,.herramientas{
                flex-direction: column;
            }
        }
    }

      #proyectos{
        padding: var(--margen-principal) 0;
   
        .titulo{
            padding-bottom: 0;
        }
        .listado-h{
    
            display: flex;
            overflow-x: auto; 
            overflow-y: none; 
            scrollbar-color: var(--azul-oscuro) var(--gris);
            scroll-snap-type: x mandatory;
            gap: 120px;
            height: 400px;
            padding: 0 calc(var(--margen-principal)*.5) 0 calc(var(--margen-principal)*1.25);
            img{
                flex: 0 0 100%; /* Cada imagen ocupa el 100% del ancho del contenedor */
                
            }
            :nth-child(3) img{
                
                width: 320px;
            }
           
        }
    }

}